art.txt
computor
obj/exec_tracks.o
obj/functions.o
obj/main.o
obj/operations.o
obj/parenthesis.o
obj/squares.o
obj/trigger_name_funcs.o
obj/trigger_sign_funcs.o
obj/equations.o
obj/display_expr.o
.vscode/c_cpp_properties.json
vgcore.839
vgcore.1482
vgcore.1614
vgcore.1874
vgcore.3786
.vscode/settings.json
obj/exorcism.o
vgcore.7824
vgcore.8148
vgcore.8508
